@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Alegreya+Sans:400,900);

%os {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
%os-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

%al {
	font-family: 'Alegreya Sans', sans-serif;
}


